{% extends "layout.html" %}
{% block title %}Student Details{% endblock %}
{% block content %}
<h3>{{ name }} (Roll: {{ roll }})</h3>
<p><strong>Gender:</strong> {{ gender }}</p>
<p><strong>Total Marks:</strong> {{ total }}</p>

<form action="{{ url_for('student.delete_student', roll=roll) }}" method="POST" onsubmit="return confirm('Delete ALL records for this student?');">
    <button type="submit" class="btn btn-danger mt-3 mb-3">Delete Student</button>
</form>
<table class="table table-bordered table-hover">
  <thead class="table-light">
    <tr>
      <th>Subject</th>
      <th>Marks</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for r in records %}
    <tr>
      <td>{{ r.subject }}</td>
      <td>{{ r.marks }}</td>
      <td><a href="{{ url_for('student.edit_student', id=r.id) }}" class="btn btn-sm btn-outline-primary">Edit</a></td>
      
      

    </tr>
    
    {% endfor %}
    
  </tbody>
  
</table>

<a href="{{ url_for('student.dashboard') }}" class="btn btn-secondary mt-3">← Back to Dashboard</a>
{% endblock %}
